body{
    margin: 0;
    padding: 0;
}

.page{
    margin-top: 5px;
    text-align: center;
}

th{
    background-color: grey;
    cursor: pointer;
}

td{
    background-color: lightgray;
}
.search{
    text-align: center;
}

option{
    text-align: center;
}



#myInput {
    background-image: url('/css/searchicon.png'); 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    width: 20%; /* Full-width */
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd;
    margin-bottom: 12px; 
  }
  
  #table-sortable {
    border-collapse: collapse; 
    width: 100%;    
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
  #table-sortable th, #table-sortable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #table-sortable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #table-sortable tr.header, #table-sortable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }

